{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Osasco</title>
    
</head>

<body>
    <nav>
        <a href="">cachorro quente</a>
        <a href="">tiroteio</a>
        <a href="">seja assaltado</a>
        <a href="">pombo</a>
        <a href="">rolêzinho</a>
    </nav>
    
        {% block content %}

        {% endblock %}

        <footer>
            <p>cuidado com o assalto, cuidado com dois cara em cima de uma moto</p>
        </footer>
</body>

</html>